{% extends 'AppCoder/padre.html' %}

{% block title %}				
  <br>

{% endblock %}

{% block context %}

    

<body>

    <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img   width="50%" src="https://www.um.es/documents/1083928/29939081/informatica.jpg/3bd909e1-f4d5-5de0-430e-8ae4fd54e2ed" alt="about image">
              <h2 class="section-title">Acerca de nosotros</h2>
              <p>Somos un equipo comprometido y que todos los días tenemos desafios en nuestro ambiente laboral.Hoy en día, tanto informática como redes se complementan de manera de brindar mejores servicios y seguridad a nuestros usuarios</p>
              <p>Soy Yerko, tengo 40 años, de profesión Ingeniero en Redes computacionales, me dedico a administrar una red privada, el curso de python fue realizado con el objetivo de ampliar el abanico de posibilidades que existen dentro del área tecnológica</p>
              
              <p>Soy Sebastián, me dedico al área de informática con profesión Ingenierio en Informática, tengo 41 años, soy chileno y para mí fue un desafío aprender el lenguaje de programación en python, estoy muy conforme con el curso, y me gustaría implementar lo aprendido en algún desarrollo web de mi trabajo</p>
              
              <strong>Alumnos: Sebastián Navarro Veas   -     Yerko González Navarrete</strong>
              <p>Coderhouse  -  2023</p>
            </div>
          </div>
        </div>
      </section>

</body>



{% endblock %}