{% load static %} 

 <!-- footer -->
<footer>

    <!-- footer content -->
    
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text-sm-left text-center">
            <p class="mb-0">Copyright
              <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
              </script> 
              © Creado por </p>  Sebastián Navarro Veas     /      Yerko González Navarrete
          </div>
          <div class="col-sm-5 text-sm-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-dribbble text-primary"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
  
  <!-- jQuery -->

  
  <script src=" {% static '/AppCoder/plugins/jQuery/jquery.min.js' %}"></script>
  <!-- Bootstrap JS -->
  <script src="{% static '/AppCoder/plugins/bootstrap/bootstrap.min.js' %}"></script>
  <!-- slick slider -->
  <script src="{% static '/AppCoder/plugins/slick/slick.min.js' %}"></script>
  <!-- aos -->
  <script src="{% static '/AppCoder/plugins/aos/aos.js' %}"></script>
  <!-- venobox popup -->
  <script src="{% static '/AppCoder/plugins/venobox/venobox.min.js' %}"></script>
  <!-- mixitup filter -->
  <script src="{% static '/AppCoder/plugins/mixitup/mixitup.min.js' %}"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
  <script src="{% static '/AppCoder/plugins/google-map/gmap.js' %}"></script>
  
  <!-- Main Script -->
  <script src="{% static '/AppCoder/js/script.js' %}"></script>