{% extends "AppCoder/padre.html" %}

{% block context %}
<div>
    <h3>Profile</h3>
    <img src="{{ avatar_url }}" />
    <p>{{perfil.usuario}}</p>
    <p>{{perfil.descripcion}}</p>
    <p>{{ perfil.usuario.last_name}}</p>
    <div>
        {% for pub in publicacion %}
            <div>
                <img src="{{ pub.imagen.url }}" />
                <p>{{ publicacion.titulo }}</p>
            </div>
            <p>{{ pub.titulo}}</p>
            <p>{{ pub.subtitulo}}</p>
            <p>{{ pub.contenido }}</p>
            <p>{{ pub.fecha }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}